In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
import random

# Define the lists of values for each feature
cities = ['Fes', 'Casa', 'Rabat']
majors = ['Cs', 'Robotics', 'Medicine', 'Archi']
prices = np.random.randint(100000, size=10000)

with open('file.txt', 'r') as f:
    names = f.read().splitlines()
targets = random.choices(names, k=10000)

# Create a dictionary of the data
data = {'city': np.random.choice(cities, size=10000),
        'major': np.random.choice(majors, size=10000),
        'Price': prices,
        'target': targets}

# Create a dataframe from the dictionary
df = pd.DataFrame(data)
df.head()

    city     major  Price                                           target
0   Casa  Robotics  21830                   Abdelmalek EssaÃ¢di University
1   Casa  Medicine  76776      University of Hassan II Casablanca Ain Chok
2  Rabat  Robotics  31535                           Ibn Tofail University
3    Fes  Robotics  82084                   Mohammed V University of Rabat
4  Rabat        Cs  21413                           Al Akhawayn University

In [9]:
df.head()

   city  major  Price                                           target
0     1      1  10594      University of Hassan II Casablanca Ain Chok
1     0      3   8921                           Al Akhawayn University
2     2      2  42713                      Chouaib Doukkali University
3     0      2  20511                           Hassan 1er University
4     1      0  40121                   Abdelmalek EssaÃ¢di University

In [2]:
new_data = {'city': 'Casa', 'major': 'Cs', 'Price': 50}

# Create a dataframe from the new data point
new_df = pd.DataFrame(new_data, index=[0])

In [3]:
new_df

   city major  Price
0  Casa    Cs     50

In [4]:
new_df['city'] = new_df['city'].replace('Fes', 2)
new_df['city'] = new_df['city'].replace('Casa', 1)
new_df['city'] = new_df['city'].replace('Rabat', 3)
new_df['major'] = new_df['major'].replace('Cs', 1)
new_df['major'] = new_df['major'].replace('Robotics', 2)
new_df['major'] = new_df['major'].replace('Medicine', 3)
new_df['major'] = new_df['major'].replace('Archi', 4)

In [5]:
new_df

   city  major  Price
0     1      1     50

In [6]:
knn.predict(new_df)

C:\Users\Cheddad\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

array(['    Chouaib Doukkali University'], dtype=object)

In [7]:
import tkinter as tk
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Define the KNN model and LabelEncoder
knn = KNeighborsClassifier(n_neighbors=3)
le = LabelEncoder()

# Load the data

# Transform categorical features to numerical values
df['city'] = le.fit_transform(df['city'])
df['major'] = le.fit_transform(df['major'])

# Fit the KNN model
knn.fit(df[['city', 'major', 'Price']], df['target'])


# Define a function to make a prediction
def predict():
    # Get the values of the input fields
    city = city_input.get()
    major = major_input.get()
    price = float(price_input.get())

    # Create a new data frame with the input values
    new_df = pd.DataFrame({'city': [city], 'major': [major], 'Price': [price]})
    new_df['city'] = new_df['city'].replace('Fes', 2)
    new_df['city'] = new_df['city'].replace('Casa', 1)
    new_df['city'] = new_df['city'].replace('Rabat', 3)
    new_df['major'] = new_df['major'].replace('Cs', 1)
    new_df['major'] = new_df['major'].replace('Robotics', 2)
    new_df['major'] = new_df['major'].replace('Medicine', 3)
    new_df['major'] = new_df['major'].replace('Archi', 4)
    print(new_df)
    # Make a prediction with the KNN model
    prediction = knn.predict(new_df)

    # Update the text box with the prediction
    prediction_text.set(f"Prediction: {prediction}")


# Create the GUI
root = tk.Tk()
root.title('KNN Model Predictor')

# Create the input fields
city_label = tk.Label(root, text='City:')
city_label.grid(row=0, column=0, padx=5, pady=5)
city_input = tk.Entry(root)
city_input.grid(row=0, column=1, padx=5, pady=5)

major_label = tk.Label(root, text='Major:')
major_label.grid(row=1, column=0, padx=5, pady=5)
major_input = tk.Entry(root)
major_input.grid(row=1, column=1, padx=5, pady=5)

price_label = tk.Label(root, text='Price:')
price_label.grid(row=2, column=0, padx=5, pady=5)
price_input = tk.Entry(root)
price_input.grid(row=2, column=1, padx=5, pady=5)

# Create the button and text box
predict_button = tk.Button(root, text='Predict', command=predict)
predict_button.grid(row=3, column=0, columnspan=2, padx=5, pady=5)

prediction_text = tk.StringVar()
prediction_text.set('Prediction: ')
prediction_label = tk.Label(root, textvariable=prediction_text)
prediction_label.grid(row=4, column=0, columnspan=2, padx=5, pady=5)

# Start the GUI
root.mainloop()

   city  major    Price
0     2      1  10000.0

C:\Users\Cheddad\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)